fastapi>=0.111.0
openai>=1.35.3
llama-index>=0.10.48.post1
llama-parse>=0.4.4
chromadb>=0.5.3
huggingface_hub>=0.23.4
langchain-chroma>=0.1.1
langchain-community>=0.2.5
langchain-experimental>=0.0.61
torch>=2.3.1
transformers>=4.41.2
sentence_transformers>=3.0.1
zstandard>=0.22.0
pypdf2>=3.0.1